<meta property="og:title" content="JASPAR: An open-access database of transcription factor binding profiles" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://{{ request.get_host }}" />
<meta property="og:description" content="JASPAR is the largest open-access database of curated and non-redundant transcription factor (TF) binding profiles from six different taxonomic groups." />
