{% load static %}

<meta property="og:title" content="Matrix profile: {{ matrix.name }} - {{ matrix.base_id }}.{{ matrix.version }} - JASPAR" />
<meta property="og:type" content="article" />
<meta property="og:image" content="http://{{ request.get_host }}{% static 'logos/' %}all/{{ matrix.base_id }}.{{ matrix.version }}.png" />
<meta property="og:url" content="http://{{ request.get_host }}/matrix/{{ matrix.base_id }}.{{ matrix.version }}" />
<meta property="og:description" content="JASPAR is the largest open-access database of curated and non-redundant transcription factor (TF) binding profiles from six different taxonomic groups." />
