{% load static %}

<a href="https://www.elixir.no/" target="_blank">
  <img class="img-responsive" src="{% static 'img/logos/elixir_norway_white_background.png' %}"
       alt="Elixir Norway" width="40%" style="float: left; margin: 10px"></a>
<a href="http://albinsandelin.wixsite.com/sandelinlab" target="_blank">
  <img class="img-responsive" src="{% static 'img/logos/ku_logo.jpg' %}"
       alt="KU" width="40%" style="float: left; margin: 10px"></a>
<a href="http://cmmt.ubc.ca/wasserman-lab/" target="_blank">
  <img class="img-responsive" src="{% static 'img/logos/cmmt_ubc.jpg' %}"
       alt="CMMT" width="40%" style="float: left; margin: 10px"></a>
<a href="https://lms.mrc.ac.uk/research-group/computational-regulatory-genomics/" target="_blank">
  <img class="img-responsive" src="{% static 'img/logos/mrc_logo.jpg' %}"
       alt="MRC" width="40%" style="float: left; margin: 10px"></a>
<a href="https://mathelierlab.com/" target="_blank">
  <img class="img-responsive" src="{% static 'img/logos/ncmm.png' %}"
       alt="NCMM" width="40%" style="float: left; margin: 10px"></a>
