{% load static %}

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@khanaziz84" />
<meta name="twitter:creator" content="@khanaziz84" />
<meta name="twitter:title" content="Matrix profile: {{ matrix.name }} - {{ matrix.base_id }}.{{ matrix.version }} - from JASPAR" />
<meta name="twitter:url" content="http://{{ request.get_host }}/matrix/{{ matrix.base_id }}.{{ matrix.version }}" />
<meta name="twitter:description" content="JASPAR is the largest open-access database of curated and non-redundant transcription factor (TF) binding profiles from six different taxonomic groups." />
<meta name="twitter:image" content="http://{{ request.get_host }}{% static 'logos/' %}all/{{ matrix.base_id }}.{{ matrix.version }}.png" />
