<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@khanaziz84" />
<meta name="twitter:creator" content="@khanaziz84" />
<meta name="twitter:title" content="JASPAR: An open-access database of transcription factor binding profiles" />
<meta name="twitter:url" content="http://{{ request.get_host }}" />
<meta name="twitter:description" content="JASPAR is the largest open-access database of curated and non-redundant transcription factor (TF) binding profiles from six different taxonomic groups." />
